.extra {
    background-color: var(--color-text);
    color: var(--color-bg);
}
.item-extra {
    display: flex;
    gap: 15px;
    padding: 20px;
}
.item-extra svg {
    font-size: 25px;
}
.item-extra p {
    font-size: 11px;
    padding-top: 5px;
}
.item-borda {
    border-bottom: 1px solid var(--color-text-secondary);
}
@media (min-width: 768px) {
    .extra {
        display: flex;        
    }
    .item-extra {
        margin: 20px 10px;
    }
    .item-extra p {
        max-width: 400px;
    }
    .item-borda {
        border-right: 1px solid var(--color-text-secondary);
        border-bottom: none;
    }    
}