@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
  --color-bg: #070D17;
  --color-bg-secondary: #0D1523;
  --color-card: #111B2B;

  --color-primary: #b93af5;
  --color-primary-light: #C49BFF;

  --color-text: #F5F5F7;
  --color-text-secondary: #B8C0D0;

  --color-border: #26344A;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Inter', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg);
    font-family: var(--font-body);
    color: var(--color-text);
}
section {
    scroll-margin-top: 60px;
}
p {    
    font-size: 12px;
    line-height: 1.4;
}
.svg-titulos {
    color: var(--color-primary);
}
img {
    max-width: 100%;
    display: block;
}
@media (min-width: 768px) {
    .segunda-secao {
        display: grid;
        grid-template-columns: 40% 60%;
        border-bottom: 1px solid var(--color-border);
        padding: 30px;
    }
    #sobre {
        border-right: 1px solid var(--color-border);
        border-bottom: none;
        padding: 0;
        padding-right: 30px;
    }
    #habilidades {
        border: none;
        padding: 0;
        padding-left: 30px;
    }
    #sobre,
    #habilidades {
        scroll-margin-top: 90px;
    }
}